<div class="text_add_form">
	<%= render "admin/pages/page_text", page: @page %>
</div>

<h2>ここより下に作成したものを表示する</h2>
<div id="page_created">
<% flash.each do |name, msg| %>
  <div class="flash <%= name %>">
    <p>
      <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
			<%= msg %>
		</p>
	</div><br>
<% end %>

<% page.page_texts.order('created_at desc').each do |page_text| %>
  <h3><%= page_text.title %></h3>
  <p><%= page_text.body %></p>
<% end %>
</div>