#itemで作成を同じように行う
<h2>公開or下書き保存ボタン</h2>
<%= form_for([:admin, @page]) do |f| %>
	<div>
    <label>タイトル</label>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <label>公開・非公開</label>
    <div>
      <%= f.select :status, [["公開する", true], ["非公開", false]] %>
    </div>
  </div>
  <%= f.submit %>
<% end %>

<%= button_tag "テキスト追加", id: "itemtext"%>
<%= button_tag "画像追加", id: "itemimage"%>
<%= button_tag "youtube追加", id: "itemmovie"%>

<div id="form_part">
	<%= render partial: 'item_form', locals: { page: @page, items: @items } %>
</div>