<%= form_for([:admin, page.items.build], remote: true) do |f| %>
  <%= hidden_field_tag :page_id, page.id %>
  <%= f.hidden_field :type, value: "Itemtext" %>
  <div>
    <label>見出し</label>
    <div>
      <%= f.text_field :title %>
    </div>
  </div>
  <div>
    <label>テキスト</label>
    <div>
      <%= f.text_area :body %>
    </div>
  </div>
  <%= f.submit "追加" %>
<% end %>