<% if @service.errors.any? %>
<div class="error_box">
	<%= @service.errors.count %>つのエラーがあります
		<ul>
			<% @service.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
</div>
<% end %>

<%= button_tag "画像左", id: "image_left"%>
<%= button_tag "画像右", id: "image_right"%>
<%= button_tag "画像なし", id: "no_image"%>
<br>
<br>
<div class="image_left_form">
<%= form_for([:admin, @service]) do |f| %>
  <%= render "image_left_form", f: f %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
</div>
<div class="image_right_form">
<%= form_for([:admin, @service]) do |f| %>
  <%= render "image_right_form", f: f %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
</div>
<div class="no_image_form">
<%= form_for([:admin, @service]) do |f| %>
  <%= render "no_image_form", f: f %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
</div>