<% if @member.errors.any? %>
<div class="error_box">
	<%= @member.errors.count %>つのエラーがあります
		<ul>
			<% @member.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
</div>
<% end %>

<%= form_for([:admin, @member]) do |f| %>
  <div>
    <label>名前</label>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <label>メンバー写真</label>
    <div>
      <%= f.file_field :image %>
    </div>
  </div>
  <div>
    <label>メンバー説明</label>
    <div>
      <%= f.text_area :description %>
    </div>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>