<% if @faq.errors.any? %>
<div class="error_box">
	<%= @faq.errors.count %>つのエラーがあります
		<ul>
			<% @faq.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
</div>
<% end %>

<%= form_for([:admin, @faq]) do |f| %>
  <div>
    <label>タイトル</label>
    <div>
      <%= f.text_field :title %>
    </div>
  </div>
  <div>
    <label>内容</label>
    <div>
      <%= f.text_area :body %>
    </div>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
<% end %>