<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "easysite" %></title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'paper', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin"><%= current_site.site_name %>管理画面</a>
    </div>
    
    <div class="navbar-right navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "サイトを確認する", site_path(current_site) %></li>
        <li><%= link_to "トップ画像", admin_topimages_path %></li>
        <li><%= link_to "サービス", admin_services_path %></li>
        <li><%= link_to "メンバー", admin_members_path %></li>
        <li><%= link_to "よくある質問", admin_faqs_path %></li>
        <li><%= link_to "お知らせ", admin_articles_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
      
  </div>
</div>
  <div class="container theme-showcase">
    <%= yield %>
  </div>  
</body>
</html>
